header {
    height: 6vh;
    min-height: 30px;
    max-height: 35px;
    padding: 5px;
    z-index: 1000;
}

main {
    padding: 35px 10px 25px 10px;
    /* padding-top: 35px;
    padding-bottom: 25px; */
    
}

footer {
    height: 3vh;
    min-height: 22px;
    max-height: 25px;
    bottom: 0;
    text-align: center;
    z-index: 1000;
}

.bg-dark {
    background-color: gold;
    color: white;
}
.round-border {
    border-radius: 5px;
    border: none;
}
.basic-shadow {
    box-shadow: 1px 1px 1px 1px grey;
}

.position-fixed {
    position: fixed;
    width: 100%;
}

img.h-100 {
    height: 1.5em;
}

.gap-basic {
    gap: 10px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.btn {
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(186, 186, 186);
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

li.no-decoration {
    list-style: none;
}

a.no-decoration {
    text-decoration: none;
}

.hover-yellow:hover {
    color: green;
}

a.login {  
    color: white;
    background-color: red;
    box-shadow: none;
}


/* Card */
.veg {
    color: green;
    border: 1px solid;
    border-radius: 2px;
    font-size: 50%;
    padding: 2px;
    margin: 2px;
}
.non-veg {
    color: rgb(255, 0, 0);
    border: 1px solid;
    border-radius: 2px;
    font-size: 50%;
    padding: 2px;
    margin: 2px;
}
.card { 
    width: 185px;
    height: 320px;
    overflow: hidden;
    position: relative;

    .veg { 
        font-size: xx-small;
    }
    .top-right {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 10000;
    }
}
.card-img {
    height: 65%;
    background-color: black;
    background-image: url("../image/product/image.jfif/");

}
.card-body {
    height: 35%;
    padding: 10px;
    span {
        font-size: xx-small;
    }
    
    p.price {
        font-size: small;
        background-color: gold;
    }
.add-to-cart {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    color: whitesmoke;
    background-color:green ;
    border-radius: 0% ;
    transition-duration: 2s;
}
.add-to-cart:hover{
    transition-duration: 300ms;
    color: gold;
    background-color: green;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.386);
}
}

/* .menu-container{ 
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;


}*/
.menu-container{
    max-width: 1000px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    grid-template-columns: auto auto auto auto auto;
}

del{
    font-style: italic;
    font-weight: 100;
    color: black;
}
@media screen and (main-width: 400px){
    .menu-container{
        grid-template-columns: auto auto;
    }
    
}

@media screen and (main-width: 700px){
    .menu-container{
        grid-template-columns: auto auto auto auto;
    }
    
}

.cart {
    max-width: 100vh;
    max-height: 50vh;
}

    


/*.card: :nth-child(1) { 
    transform: scale(0.98);
    color
}*/
 #auth-container{
    width: 40vw;
    max-width: 250px;
    /* min-height:40vh; */
    color: whitesmoke;
    background-color: black;
    

    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
 }
 form{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

 }
 form > div{
    fornt-size: xx-small;
 }
 input{
    margin: 0px;
 }
 
 input:focus {
    outline: 1px rgb(255, 215, 0) solid;
 }
 input::placeholder{
    font-size: x-small;
 }

 label{
    /* visibility: hidden; */
    display: none;
 }
 fieldset {
    border: none;
    flex-direction: column;
 }
 /* .input-container{
    display: flex;
    flex-direction: column;
    padding: 40px;
    grid-area: columm;
 } */
  .btn-login{
    background-color: gold;
    color: black;

  }
  fieldset {
    border: none;
    display: flex;
    flex-direction: column;

  }
.form-button > button{
    font-size: xx-small;
}

.gold
{
    color: gold;
}

.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}