header{
    height: 6vh;
    min-height: 30px;
    max-height: 30px;
    padding:5px;
    background-color:green;
    color:white;
    z-index: 1000;
}
.flex{
    display:flex;
}
.justify-content-between{
    justify-content:space-between;
}
.align-items-center{
    align-items:center;
}
a.no-decoration{
    text-decoration: none;

}

header>nav>ul{
    font-size: 20px;
    gap: 50px;
    list-style:none;
}

.hower-yellow:hover{
    color:purple;
}


    /* display:flex;
    justify-content:space between;
    align-items:center;
}
header>nav>ul{
    display:flex;
    list-style:none;
} */


img.h-100{
    height:2em;
}
.flex{
    display:flex;
}
.btn{
    padding:5px 10px;
    overflow:hidden;
    background-color:red;
    color:antiquewhite;

}
list{
    gap: 20px;
}
main{
    padding-top: 35px;
    padding-bottom: 25px;
}
.position-fixed{
    position:fixed;
    width:100%;
}
.bg-dark{
    background-color:gold;
    color:white;
}
footer{
height: 3vh;
    min-height: 22px;
    max-height: 25px; 
   bottom:0;
    background-color:gold;
    color:white;
    text-align:center;
    z-index: 1000;
}